* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1242px;
  margin: 0 auto;
}

header {
  height: 134px;
  background-color: #EDF2EC;
  padding-top: 42px;
}

.header__nav {
  height: 50px;
  padding: 2px 12px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.header__logo__img {
  -webkit-transform: translate(-1px, -6px);
          transform: translate(-1px, -6px);
}
.header__menu {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu_item {
  margin-left: 48px;
  list-style-type: none;
}
.header__menu_item:nth-child(4) {
  margin-left: 46px;
}
.header__menu_item:nth-child(3) {
  margin-left: 39px;
}
.header__menu_item:nth-child(2) {
  width: 76px;
  margin-left: 0;
}
.header__menu_item:first-child {
  margin: 0 49px 0 0;
}
.header__menu_item a {
  text-decoration: none;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #010201;
}
.header__menu_item a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 700;
  color: #E06733;
}

.welcome {
  height: 532px;
  background-color: #EDF2EC;
}
.welcome__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.welcome__leafs {
  margin: 53px 0 0 1px;
}
.welcome__info {
  max-width: 549px;
  margin: 98px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.welcome__header {
  margin: 0;
  font-family: "Inter";
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}
.welcome__header span {
  color: #499A18;
}
.welcome__descr {
  margin-top: 44px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #717171;
}

.btn {
  width: 161px;
  height: 50px;
  padding-right: 2px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  border: 1px solid #E06733;
  border-radius: 5px;
  cursor: pointer;
}
.btn__service {
  margin: 67px 38px 0 0;
  background-color: #EDF2EC;
}
.btn__service_active {
  margin: 67px 38px 0 0;
  background-color: #E06733;
  color: white;
}
.btn__prices {
  margin: 40px 10px 0 0;
  background-color: #FFFFFF;
}
.btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  background-color: #E06733;
}
.btn__main {
  width: 158px;
  height: 44px;
  margin-top: 47px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  background-color: #EDF2EC;
  border: 2px solid #E06733;
  border-radius: 10px;
  cursor: pointer;
}
.btn__main:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  background-color: #E06733;
}
.btn__adress {
  width: 122px;
  height: 26px;
  margin-top: 24px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #717171;
  background-color: #EDF2EC;
  border: 2px solid #E06733;
  border-radius: 5px;
  cursor: pointer;
}
.btn__adress:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  background-color: #E06733;
}

.arrow {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: #D9D9D9;
}
.arrow::before {
  content: "";
  display: block;
  width: 4px;
  height: 1px;
  background-color: #717171;
  -webkit-transform: translateX(1px) rotate(45deg);
          transform: translateX(1px) rotate(45deg);
}
.arrow::after {
  content: "";
  display: block;
  width: 4px;
  height: 1px;
  background-color: #717171;
  -webkit-transform: translateX(-1px) rotate(-45deg);
          transform: translateX(-1px) rotate(-45deg);
}
.arrow_dark {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: #AEA1A1;
}
.arrow_dark::before {
  content: "";
  display: block;
  width: 4px;
  height: 1px;
  background-color: #FFFFFF;
  -webkit-transform: translateX(1px) rotate(45deg);
          transform: translateX(1px) rotate(45deg);
}
.arrow_dark::after {
  content: "";
  display: block;
  width: 4px;
  height: 1px;
  background-color: #FFFFFF;
  -webkit-transform: translateX(-1px) rotate(-45deg);
          transform: translateX(-1px) rotate(-45deg);
}
.arrow_dark_active {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: #8BA07E;
}
.arrow_dark_active::before {
  content: "";
  display: block;
  width: 4px;
  height: 1px;
  background-color: #FFFFFF;
  -webkit-transform: translateX(1px) rotate(-45deg);
          transform: translateX(1px) rotate(-45deg);
}
.arrow_dark_active::after {
  content: "";
  display: block;
  width: 4px;
  height: 1px;
  background-color: #FFFFFF;
  -webkit-transform: translateX(-1px) rotate(45deg);
          transform: translateX(-1px) rotate(45deg);
}
.arrow_active {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: #D9D9D9;
}
.arrow_active::before {
  content: "";
  display: block;
  width: 4px;
  height: 1px;
  background-color: #717171;
  -webkit-transform: translateX(1px) rotate(-45deg);
          transform: translateX(1px) rotate(-45deg);
}
.arrow_active::after {
  content: "";
  display: block;
  width: 4px;
  height: 1px;
  background-color: #717171;
  -webkit-transform: translateX(-1px) rotate(45deg);
          transform: translateX(-1px) rotate(45deg);
}

.about {
  height: 666px;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__info {
  margin: 161px 0 0 10px;
}
.about__subheader {
  width: 463px;
  height: 102px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}
.about__subheader span {
  color: #E06733;
}
.about__descr {
  max-width: 605px;
  height: 208px;
  margin-top: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #717171;
}
.about__houseplant {
  width: 464px;
  margin: 93px 9px 94px 0;
}

.service {
  height: 1300px;
  background-color: #EDF2EC;
}
.service__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.service__subheader {
  width: 306px;
  margin: 37px 142px 0 10px;
  font-family: "Inika";
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}
.service__items {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px 0 0;
}
.service__item {
  width: 330px;
  height: 450px;
  margin-top: 55px;
  padding: 0 0 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #717171;
  border: solid 1px #E3E1D5;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
}
.service__item span {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #E06733;
}
.service__desktop {
  margin-bottom: 13px;
}
.service__mobile {
  width: 280px;
  height: 530px;
  display: none;
}

.blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.prices {
  height: 560px;
  padding-top: 40px;
}
.prices__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prices__subheader {
  margin-right: 10px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
}
.prices__subheader_descr span {
  color: #499A18;
}
.prices__choise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10px;
}
.prices__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.prices__leafs__min {
  margin-top: 33px;
}
.prices__items {
  min-height: 281px;
  margin-top: 58px;
  padding: 2px 41px 34px 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
.prices__items_btn {
  width: 250px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
  padding: 16px 40px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  border-radius: 20px;
  background: #EDF2EC;
  cursor: pointer;
}
.prices__items_active {
  max-height: 154px;
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 16px 40px;
  margin-top: 32px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  border-radius: 20px;
  background: #D6E7D2;
}
.prices__items_active_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 40px 16px 40px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  cursor: pointer;
}
.prices__items_active_line {
  width: 164px;
  height: 1px;
  margin-top: 10px;
  background-color: #AEA1A1;
}
.prices__items_active_descr {
  width: 169px;
  margin-top: 6px;
  font-family: "Inter";
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
}
.prices__items_active_count {
  margin-top: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.prices__items_active_count span {
  font-weight: 700;
  color: #E06733;
}
.prices__items_active_order {
  width: 86px;
  height: 25px;
  margin-top: 12px;
  border-radius: 10px;
  border: none;
  padding-bottom: 3px;
}
.prices__items_active_order a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #717171;
}
.prices__items_active_order:hover {
  background: #E06733;
}
.prices__items_active_order:hover a {
  color: #FFFFFF;
}

.contact {
  height: 550px;
  background-color: #EDF2EC;
}
.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__img {
  margin: 53px 0 0 10px;
}
.contact__text {
  width: 370px;
  margin: 60px 0 0 0;
  font-family: "Inika";
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #499A18;
}
.contact__city_wrapper {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__city_name {
  width: 100%;
  height: 50px;
  margin-top: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px 0 20px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
  background: #D6E7D2;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.contact__city_name_active {
  width: 100%;
  height: 50px;
  margin-top: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px 0 20px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
  background: #C1E698;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contact__city_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 234px;
  background-color: #DCE9D9;
}
.contact__city_menu ul {
  padding: 27px 41px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #499A18;
  list-style-type: none;
}
.contact__city_menu ul li:hover {
  cursor: pointer;
  color: #717171;
}
.contact__city_menu ul li:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #717171;
}
.contact__city_board {
  width: 100%;
  height: 214px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 47px;
  padding: 17px 35px;
  background: #EDF2EC;
  border: 1px solid #000000;
  border-radius: 20px;
}
.contact__city_board_name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}
.contact__city_board_name ul {
  list-style-type: none;
}
.contact__city_board_adress {
  margin-left: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #717171;
}
.contact__city_board_adress li {
  list-style-type: none;
}

footer {
  height: 130px;
}

.footer__wrapper {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}
.footer__git {
  width: 168px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__git a {
  text-decoration: none;
  color: black;
}
.footer__git a:hover {
  color: #E06733;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__rs {
  margin-left: 13px;
  text-decoration: none;
  color: #000000;
}
.footer__rs:hover {
  color: #E06733;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__social {
  width: 184px;
  margin-right: 10px;
  padding: 1px 2px 0 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
  font-size: 27px;
  list-style-type: none;
}
.footer__social i {
  color: #000000;
}
.footer__social :hover {
  color: #E06733;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1100px) {
  .container {
    max-width: 1100px;
  }
  .welcome__leafs {
    width: 331px;
    height: 300px;
  }
  .about {
    height: 783px;
  }
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__info {
    margin: 40px 0 0 0;
    text-align: left;
  }
  .about__subheader {
    width: 423px;
    margin: 0 auto;
    text-align: center;
  }
  .about__houseplant {
    width: 350px;
    margin: 40px 0 0 0;
  }
  .service {
    height: 1900px;
  }
  .service__projects {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 60px 0 0 20px;
  }
  .service__subheader {
    margin: 60px 0 0 0;
  }
  .service__subheader {
    width: 760px;
  }
  .btn__service {
    margin-top: 40px;
  }
  .btn__service:hover {
    -webkit-transition: none;
    transition: none;
    color: #E06733;
    background-color: #EDF2EC;
  }
  .btn__service_active {
    margin-top: 40px;
  }
  .contact__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact__img {
    width: 330px;
    height: 410px;
    margin: 140px 0 0 0;
  }
  .contact__text {
    width: 210px;
    margin: 60px 0 0 0px;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 668px;
  }
  header {
    height: 117px;
    padding: 35px 0 0 0;
  }
  .header__nav {
    padding: 0;
  }
  .welcome {
    height: 420px;
  }
  .welcome__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .welcome__leafs {
    width: 280px;
    height: 254px;
    margin: 40px 0 0 0;
  }
  .welcome__info {
    width: 346px;
    margin: 0;
  }
  .welcome__header {
    margin-top: 40px;
    font-size: 35px;
  }
  .welcome__descr {
    margin: 31px 0 0 5px;
    font-size: 16px;
    line-height: 25px;
  }
  .btn__main {
    margin-top: 35px;
  }
  .about__subheader {
    text-align: center;
    font-size: 35px;
    line-height: 46px;
  }
  .about__descr {
    max-width: 668px;
    margin: 40px 0 0 0;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }
  .about__houseplant {
    width: 250px;
    height: 258px;
  }
  .btn__service {
    margin: 44px 38px 0 0;
  }
  .btn__service_active {
    margin: 44px 38px 0 0;
  }
  .service {
    min-height: 1780px;
  }
  .service__projects {
    margin: 0;
  }
  .service__subheader {
    margin: 58px 0 0 0;
    font-size: 35px;
    line-height: 46px;
  }
  .service__items {
    margin: 0;
    padding: 0;
  }
  .service__item {
    width: 280px;
    height: 450px;
    margin-top: 38px;
    line-height: 20px;
  }
  .service__item span {
    -webkit-transform: translate(-1px, 9px);
            transform: translate(-1px, 9px);
  }
  .service__desktop {
    display: none;
  }
  .service__mobile {
    display: block;
  }
  .prices {
    height: 585px;
    padding-top: 37px;
  }
  .prices__choise {
    margin: 0;
  }
  .prices__subheader {
    font-size: 35px;
    margin-left: 15px;
  }
  .prices__subheader_descr {
    margin: 103px 0 0 0;
    font-size: 25px;
    line-height: 35px;
  }
  .prices__items {
    margin-top: 53px;
  }
  .prices__leafs__min {
    margin: 30px -10px 0 0;
  }
  .btn__prices {
    margin-top: 28px;
  }
  .contact {
    height: 739px;
    padding-top: 40px;
    position: relative;
  }
  .contact__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__text {
    margin: 0;
    padding: 0;
  }
  .contact__city_name {
    width: 450px;
    margin-top: 68px;
  }
  .contact__img {
    position: absolute;
    width: 200px;
    height: 248px;
    bottom: 0;
    margin: 0;
  }
  footer {
    height: 200px;
  }
  .footer__wrapper {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 24px;
  }
  .footer__git {
    width: 178px;
    margin: 33px 0 0 0;
    padding-right: 7px;
  }
  .footer__rs {
    margin: 16px 5px 0 0;
  }
  .footer__social {
    line-height: 27px;
    margin: 30px 0 0 0;
  }
}
@media (max-width: 767px) {
  .welcome__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .welcome__leafs {
    width: 30%;
    height: 30%;
  }
  .about {
    height: 700px;
  }
  .about__descr {
    max-width: 550px;
    margin: 0;
  }
  .btn__service {
    margin: 10px;
  }
  .btn__service_active {
    margin: 10px;
  }
  .service {
    height: 1700px;
  }
  .service__subheader {
    margin: 20px 10px;
  }
  .service__items {
    margin: 0 5px;
  }
  .prices {
    height: 712px;
  }
  .prices__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prices__choise {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prices__descr {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prices__subheader_descr {
    text-align: center;
    margin-top: 30px;
  }
  .prices__leafs__min {
    width: 20%;
    height: 20%;
  }
  .contact {
    position: relative;
    height: 739px;
  }
  .contact__img {
    position: absolute;
    bottom: 0;
  }
  .contact__city_name {
    width: 450px;
  }
}
@media (max-width: 590px) {
  header {
    height: 96px;
    padding: 26px 0 0 0;
  }
  .container {
    max-width: 330px;
  }
  .hamburger {
    width: 49px;
    height: 14px;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: black;
    margin-bottom: 6px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-top: 8px;
    margin-bottom: -9px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .hamburger_active span:nth-child(4) {
    display: none;
  }
  .header__nav {
    margin: 0;
  }
  .header__logo {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__logo:nth-child(3) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    height: 100vh;
    padding: 10px 10px;
    background-color: rgba(214, 231, 210, 0.9);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .header__menu_active {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    left: 0;
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .header__menu_item {
    width: 100%;
    height: 80px;
    margin: 0;
    list-style-type: none;
    text-align: center;
    font-size: 24px;
  }
  .header__menu_item:nth-child(4) {
    margin: 0;
  }
  .header__menu_item:nth-child(4) a {
    padding: 20px 60px;
  }
  .header__menu_item:nth-child(3) {
    margin: 0;
  }
  .header__menu_item:nth-child(3) a {
    padding: 20px 60px;
  }
  .header__menu_item:nth-child(2) {
    width: 100%;
    margin: 0;
  }
  .header__menu_item:nth-child(2) a {
    padding: 20px 60px;
  }
  .header__menu_item:first-child {
    margin: 0;
  }
  .header__menu_item:first-child a {
    padding: 20px 60px;
  }
  .welcome {
    height: 300px;
  }
  .welcome__header {
    margin-top: 25px;
    font-size: 25px;
    line-height: 35px;
  }
  .welcome__descr {
    margin: 22px 0 0 0;
  }
  .welcome__leafs {
    display: none;
  }
  .about {
    height: 516px;
    padding-top: 30px;
  }
  .about__info {
    margin: 0;
  }
  .about__subheader {
    width: 290px;
    height: 58px;
    font-size: 25px;
    line-height: 33px;
  }
  .about__descr {
    margin-top: 21px;
    font-size: 15px;
    line-height: 25px;
  }
  .about__houseplant {
    width: 150px;
    height: 152px;
    margin-top: 20px;
  }
  .service {
    height: 3150px;
  }
  .service__subheader {
    width: 187px;
    font-size: 25px;
    line-height: 33px;
    margin: 30px 70px 27px 0;
  }
  .service__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prices {
    min-height: 512px;
    padding: 15px;
  }
  .prices__subheader {
    font-size: 25px;
  }
  .prices__subheader_descr {
    font-size: 20px;
    line-height: 35px;
    margin-top: 20px;
  }
  .prices__items {
    width: 224px;
    min-height: 235px;
    margin-top: 20px;
    padding: 16px 0 29px 0;
  }
  .prices__items_btn {
    max-width: 180px;
    min-height: 50px;
    margin-top: 13px;
    padding: 16px 25px 0 31px;
    font-size: 15px;
  }
  .prices__items_active {
    width: 180px;
    min-height: 185px;
    margin-top: 13px;
    padding: 14px 25px 0 31px;
    font-size: 15px;
  }
  .prices__leafs__min {
    display: none;
  }
  .btn__prices {
    width: 121px;
    height: 35px;
    font-size: 15px;
  }
  .btn__main {
    width: 100px;
    height: 34px;
    margin-top: 25px;
    font-size: 10px;
  }
  .btn__service {
    width: 121px;
    height: 35px;
    margin: 10px 10px 0 0;
    font-size: 15px;
  }
  .btn__service_active {
    width: 121px;
    height: 35px;
    margin: 10px 10px 0 0;
    font-size: 15px;
  }
  .contact {
    height: 445px;
    padding-top: 16px;
  }
  .contact__text {
    font-size: 25px;
  }
  .contact__city_wrapper {
    width: 350px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__city_name {
    width: 300px;
    margin-top: 50px;
  }
  .contact__city_menu {
    width: 300px;
    z-index: 1;
  }
  .contact__city_board {
    width: 282px;
    height: 212px;
    padding: 36px 0 0 20px;
  }
  .contact__city_board_name {
    margin: 0;
    padding-right: 10px;
  }
  .contact__city_board_name :nth-child(3) {
    line-height: 16px;
  }
  .contact__city_board_adress {
    margin: 0;
    padding: 0;
  }
  .contact__city_board_adress :nth-child(3) {
    line-height: 16px;
  }
  .contact__img {
    width: 100px;
    height: 124px;
    margin-top: 123px;
  }
  footer {
    height: 145px;
  }
  .footer__git {
    margin-top: 21px;
  }
  .footer__social {
    margin-top: 15px;
  }
  .footer__social li:nth-child(2) {
    padding-left: 4px;
  }
  .footer__social li:nth-child(3) {
    padding-left: 4px;
  }
}
.hide {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */