@import 'var/variables';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
.container {
	max-width: 1242px;
	margin: 0 auto;
}


@import 'blocks/header';
@import 'blocks/welcome';
@import 'blocks/button';
@import 'blocks/about';
@import 'blocks/service';
@import 'blocks/prices';
@import 'blocks/contact';
@import 'blocks/footer';
@import 'media';


.hide {
	display: none;
}
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {
	  opacity: 0.1;
	}
	to {
	  opacity: 1;
	}
}

