.btn {
	width: 161px;
	height: 50px;
	padding-right: 2px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: $orange-color;
	border: 1px solid $orange-color;
	border-radius: 5px;
		&__service {
			margin: 67px 38px 0 0;
			background-color: $bg_section-color;
		}
		&__prices {
		margin: 40px 10px 0 0;
		background-color: #FFFFFF;
		}
		&:hover {
			transition: 0.3s;
			color: #ffff;
		background-color: $orange-color;
		}
		cursor: pointer;
		&__main{
			width: 158px;
			height: 44px;
			margin-top: 47px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			text-decoration: none;
			color: #000000;
			background-color: $bg_section-color;
		border: 2px solid $orange-color;
			border-radius: 10px;
		cursor: pointer;
			&:hover {
				transition: 0.3s;
				color: #ffff;
			background-color: $orange-color;
			}
		&:visited {
			background-color: $orange-color;
		}
		}
	}
	
.arrow {
	width: 16px;
	height: 16px;
	display: flex;
	justify-content: center;
	align-items:center;
	border-radius: 100%;
	background-color: #D9D9D9;
	&::before {
		content: '';
		display: block;
		width: 4px;
		height: 1px;
		background-color: #717171;
		transform: translateX(1px) rotate(45deg);
	}
	&::after {
		content: '';
		display: block;
		width: 4px;
		height: 1px;
		background-color: #717171;
		transform: translateX(-1px) rotate(-45deg);
	}
	&_dark {
		width: 16px;
		height: 16px;
		display: flex;
		justify-content: center;
		align-items:center;
		border-radius: 100%;
		background-color: #AEA1A1;
		&::before {
			content: '';
			display: block;
			width: 4px;
			height: 1px;
			background-color: #FFFFFF;
			transform: translateX(1px) rotate(45deg);
		}
		&::after {
			content: '';
			display: block;
			width: 4px;
			height: 1px;
			background-color: #FFFFFF;
			transform: translateX(-1px) rotate(-45deg);
		}
	}
	&_active {
		width: 16px;
		height: 16px;
		display: flex;
		justify-content: center;
		align-items:center;
		border-radius: 100%;
		background-color: #D9D9D9;
		&::before {
			content: '';
			display: block;
			width: 4px;
			height: 1px;
			background-color: #717171;
			transform: translateX(1px) rotate(-45deg);
		}
		&::after {
			content: '';
			display: block;
			width: 4px;
			height: 1px;
			background-color: #717171;
			transform: translateX(-1px) rotate(45deg);
		}
		&_dark {
		width: 16px;
		height: 16px;
		display: flex;
		justify-content: center;
		align-items:center;
		border-radius: 100%;
		background-color: #8BA07E;	;
		&::before {
			content: '';
			display: block;
			width: 4px;
			height: 1px;
			background-color: #ffffff;
			transform: translateX(1px) rotate(-45deg);
		}
		&::after {
			content: '';
			display: block;
			width: 4px;
			height: 1px;
			background-color: #ffffff;
			transform: translateX(-1px) rotate(45deg);
		}
		}
	}
} 