.contact {
	height: 550px;
	background-color: $bg_section-color;
	&__wrapper {
		display: flex;
	}
	&__img {
		margin: 53px 0 0 10px;
	}
	&__text {
		margin: 60px 0 0 113px;
		font-family: 'Inika';
		font-weight: 700;
		font-size: 40px;
		line-height: 52px;
		text-align: center;
		color: $green-color;
	}
	&__city {
		width: 450px;
		height: 50px;
		margin: 148px 0 0 68px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 35px 0 20px;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 20px;
		line-height: 40px;
		letter-spacing: 0.05em;
		color: #717171;
		background: #D6E7D2;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		cursor: pointer;
	}
}